* {
  margin: 0px;
  box-sizing: border-box;
}

input {
  outline: none;
  /* border: none; */
}

html {
  font-size: 16px;
}

@media (max-width:787px) {
  html {
    font-size: 14px;
  }
}

.app {
  background-color: #eee;
}

.app_header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  border-bottom: 1px solid lightgray;

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.app_header .app_header_image {
  height: 100%;
}

.app_header .app_header_image img {
  max-height: 100%;
  margin-left: 5px;
}

.app_header .auth_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.app_posts {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.7rem;
}

.post {
  border: 1px solid lightgray;
  width: 60%;
  max-width: 500px;
  min-width: 250px;
  background-color: white;
}

@media (max-width:768px) {
  .post {
    width: 90%;
  }
}

.post .post_image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

}

.post .created_time {
  padding: 1.1rem;
  color: #434343;
  font-size: .7rem;
}

.post .post_caption {
  font-weight: normal;
  font-size: 1.3rem;
  padding: 1.1rem;
  border-bottom: 1px solid lightgray;
}

.post .post_comments {
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post .post_header {
  padding: 1.1rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.post .post_header .post_headerinfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.modal_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 25rem;
  border: 2px solid #000;
  padding: 1.1rem;
  padding-bottom: 0;
}

@media (max-width:383px) {
  .modal_box {
    width: 90%;
  }
}

.modal_box .app_signin {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .7rem;
  padding: .7rem ;
}


.modal_box .app_signin img {
  width: 10rem;
  align-self: center;
}

@media (max-width:778px) {
  .modal_box .app_signin img {
    width: 7rem;
  }
}
.modal_box .app_signin input {
  padding: .3rem;
  border: none;
  border-bottom: 2px solid #000;
  font-size: 1.1rem;
  transition: .5s;
}

@media (max-width:778px) {
  .modal_box .app_signin input {
    font-size: 1rem;
    padding: .2rem;
  }
}


.modal_box .app_signin input:focus {
  border-bottom: 2px solid #1092ee;
}

.modal_box .app_signin .signin_btn {
  width: fit-content;
  align-self: center;
}